

<body>
<form action="/allExpenses" method="post">
    <h1>All Expenses</h1>

    <div id="expenseList">
        <h2>Expense List</h2>
        <ul id="expenses">{{allExpenses}}</ul>
    </div>
</form>
</body>

</html>
