
<body>
<form action="/categoryTotals" method="post">
    <h1>Category Totals</h1>

    <ul>
        <li><strong>Monthly:</strong> R<span id="monthlyTotal"><%= categoryTotals.monthly %></span></li>
        <li><strong>Weekly:</strong> R<span id="weeklyTotal"><%= categoryTotals.weekly %></span></li>
        <li><strong>Weekday:</strong> R<span id="weekdayTotal"><%= categoryTotals.weekday %></span></li>
        <li><strong>Weekend:</strong> R<span id="weekendTotal"><%= categoryTotals.weekend %></span></li>
        <li><strong>Once-off:</strong> R<span id="onceoffTotal"><%= categoryTotals.onceoff %></span></li>
        <li><strong>Daily:</strong> R<span id="dailyTotal"><%= categoryTotals.daily %></span></li>
    </ul>
</form>
</body>

</html>
